body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://bit.ly/32kJCOM");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  h1 {
      font-size: 5vh;
      color:white;
  }

  #order {
      width: 90%;
      color: white;
  }

  .footer {
      color:pink;
  }