body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://bit.ly/32kJCOM");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  h1 {
      font-size: 5vh;
      color:white;
  }

  /* .order {
      padding-top: 35vh;
  } */

  .img1 {
      padding-top: 5vh;
  }

  .img1 img {
      border-radius: 90%;
  }