@import url("https://fonts.googleapis.com/css?family=Medula+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Crushed&display=swap');

.lander {
  font-family: "Medula One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 7rem;
  color: violet;
  align-items: center;
  justify-content: center;
  padding-top:35vh ;
}

h2 {
  font-size: 3rem;
  color: #FF7B3D;
  font-family: 'Crushed', cursive;
  padding-left:42%
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://bit.ly/32pUwmc");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.order {
  padding-top: 3vh;
  padding-left: 45%;
}

.drac {
  color: white;
  font-size: 3rem;
  display: block;
  padding: 5px;
  }


